<nav class="navbar navbar-expand-lg mt-2 ms-4">
    <div class="container-fluid mx-3">
        <a class="navbar-brand">
            <img src="/images/adminLogo.png" alt="logo" width="350" height="70">
        </a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse mt-3" id="navbarSupportedContent">
            <form class="d-flex ms-auto me-4 p-1" role="search">
                <img src="/images/doctor_icon.png" style="border-radius: 50% " alt="doctor_icon" width="80" height="70">
            </form>
        </div>
    </div>
</nav>